@model MvcAppConcentracionDeCargaHoraria.tblUsuarios

@{
    ViewBag.Title = "Registrar";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Cree una cuenta nueva</h2>
</hgroup>
<section id="loginForm">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <form>
        <div class="form-group">
            <h3>Formulario de registro</h3>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.vchEmail)
            <br />
            @Html.TextBoxFor(m => m.vchEmail)
            <br />
            @Html.ValidationMessageFor(m => m.vchEmail)
            <br />
        </div>
        <div class="form-group">
             @Html.LabelFor(m => m.vchPass)
            <br />
             @Html.PasswordFor(m => m.vchPass)
            <br />
            @Html.ValidationMessageFor(m => m.vchPass)
            <br />
        </div>
        <div class="form-group">
            <input class="btn btn-outline-success" type="submit" value="Registrarse" />
            <br /><br /><br />
        </div>
    </form>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
